<div class="top-spacer"></div>
<div>
<p>Techshop closed Nov 15th 2017 after over a decade of providing manufacturing equipment access and education to creative people across the world.
</p>
<p>Techshop's ten US locations all shut thier doors simulataneously, without warning.
</p>
<p>
This is a great loss for the maker community, but it doesn't have to be the final word.
</p>
<p>

We are going to build a new makerspace in the wake of Techshop's closure that will fill the void Techshop has left.

</p>
<p>
Make your voice heard! Let us know what you love about Techshop, and how can we make it even better!
</p>
</div>



<%= link_to("Discuss With Us", posts_path) %> <br>

<%= link_to("Survey", new_survey_path) %>


